{% load cms_tags menu_tags sekizai_tags staticfiles %}

<div class="slider-container">
  <div class="slider" id="revolutionSlider" data-slider-id="{{ instance.id }}" data-plugin-options='{"startheight": 500}'>
    <div class="slides">
      {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
      {% endfor %}
    </div>
  </div>
</div>

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/settings.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/settings-ie8.css' %}"/>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
  <script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
  <script>
    jQuery('.slider').revolution();
  </script>
{% endaddtoblock %}

