<div class="slide" data-transition="fade" data-slotamount="7" data-masterspeed="{{ instance.}}">
  <img src="{{ instance.image.url }}" alt="{{ instance.text }}" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />
  <div class="tp-caption randomrotate" data-x="{{ instance.position_x }}" data-y="{{ instance.position_y }}" data-speed="{{ instance.speed }}" data-start="{{ instance.start }}" data-end="{{ instance.end }}" data-easing="{{ instance.easing }}">
  {{ instance.text }}
</div>
